.booking-form-h3 {
  color: var(--gunmetal);
}

.booking-form-label {
  color: var(--gunmetal);
}

.booking-form-button {
  background-color: var(--fiery-terracotta);
}

.time-modal-h4 {
  color: var(--gunmetal);
}
