:root {
  --ivory: #F6F7EB;
  --gunmetal: #393E41;
  --fiery-terracotta: #E94F37;
}

body {
  background-color: var(--ivory);
  color: var(--gunmetal);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

body.home {
  overflow: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
}
