:root {
  --ivory: #F6F7EB;
  --gunmetal: #393E41;
  --fiery-terracotta: #E94F37;
}

body {
  background-color: var(--ivory);
  color: var(--gunmetal);
  font-family: sans-serif;
}

body.home {
  overflow: hidden;
}

h1 {
  font-family: "Playfair Display", serif;
}
