---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Book an Appointment">
  <main>
    <h1>Book an Appointment</h1>
    <p>Details on how to book an appointment will go here.</p>
  </main>
</Layout>
