---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact - The Smart Salon">
  <Header />
  <main class="py-16 md:py-24" style="background-color: var(--ivory);">
    <section class="container mx-auto px-4">
      <ContactForm />
    </section>
  </main>
</Layout>
