---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Header from '../components/Header.astro';
import BarberPole from '../components/BarberPole.astro';
---

<Layout title="The Smart Salon">
  
  <div id="main-content">
    <Header />
    <main class="relative flex items-center justify-center min-h-screen overflow-hidden">
      <div class="flex items-center justify-center gap-8">
        <BarberPole />
        <Welcome />
      </div>
    </main>
  </div>

</Layout>
