---
import Layout from '../layouts/Layout.astro';
import Door from '../components/Door.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout title="The Smart Salon">
  <main id="page-content" class="content-hidden">
    <Welcome />
  </main>
  <Door />
</Layout>


<style>
  /* This is now the ONLY class controlling visibility */
  .content-hidden {
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0;
    /* The transition for the page content reveal */
    transition: all 1.5s 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

</style>
