---
import '../styles/Door.css';
---

<div class="door-container" id="door-container">
  <div class="door-wrapper">
    <div class="enter-prompt" id="enter-prompt">Click to Enter</div>
    <div class="door-panel left">
      <div class="door-handle"></div>
    </div>
    <div class="door-panel right">
      <div class="door-handle"></div>
    </div>
  </div>
</div>

<script src="../scripts/door.js"></script>
