<footer>
  <p>&copy; {new Date().getFullYear()} The Smart Salon. All rights reserved.</p>
</footer>

<style>
  footer {
    padding: 2rem;
    text-align: center;
    border-top: 1px solid var(--border);
    margin-top: 4rem;
  }

  p {
      color: var(--text-secondary);
      font-size: 1rem;
  }
</style>
