---
// src/components/PhoneNumber.astro
---
<div class="phone-number-container text-center p-4">
  <p class="text-lg" style="color: var(--gunmetal);">Ring, Ring! Click to answer.</p>
  <a href="tel:+1234567890" class="text-2xl font-bold" style="color: var(--black-bean);">+1 (234) 567-890</a>
</div>
