---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
const active = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css">
    <style is:inline>
      /* Hide the page by default to prevent FOUC. No transition. */
      body {
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    <div id="main-content">
        <Header active={active} />
        <slot />
        <Footer />
    </div>
  </body>
</html>
