---
import Footer from '../components/Footer.astro';
import SidePanels from '../components/SidePanels.astro';
import Door from '../components/Door.astro';
import Dock from '../components/Dock.jsx';
import Movable from '../components/Movable.jsx';
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
const isHomePage = Astro.url.pathname === '/';

const navLinks = [
  { href: "/", label: "Home" },
  { href: "/about", label: "About" },
  { href: "/services", label: "Services" },
  { href: "/booking", label: "Booking" },
  { href: "/reviews", label: "Reviews" },
  { href: "/offers", label: "Offers" },
];

const dockItems = navLinks.map(link => ({
    icon: `/${link.label.toLowerCase()}.svg`,
    label: link.label,
    href: link.href
}));

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex-grow: 1;
      }
    </style>
  </head>
  <body class:list={[
    "bg-[var(--ivory)] text-[var(--gunmetal)]",
    { "home": isHomePage },
  ]}>
    <SidePanels />
    <Door />
    <main>
        <slot />
    </main>
    <Footer />
    <div class="fixed bottom-10 left-1/2 -translate-x-1/2 z-50">
      <Movable client:only="react">
        <Dock items={dockItems} client:only="react"/>
      </Movable>
    </div>
  </body>
</html>
